* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0;
  }
  
  /* layout */
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* sidebar */
  .sidebar {
    width: 240px;
    background: #1f2933;
    color: white;
    padding: 20px;

  }
  
  .logo {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: #374151;
  }

  /* Sidebar hover effect */
.sidebar li:hover {
    background-color:#1a73e8;
    color: white;
  }
  
  
  /* Dropdown */
  .dropdown {
    display: none;
    list-style: none;
    padding-left: 15px;
  }
  
  .dropdown li {
    padding: 8px;
    font-size: 14px;
  }
  
  /* content */
  .content {
    flex: 1;
    padding: 30px;
    background: #f8f9fa;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* form */
  form {
    background: transparent; 
    padding: 0;    
    border-radius: 0;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  label {
    display: inline-block;
    width: 180px;
    font-weight: bold;
  }
  
  input, select {
    padding: 6px;
    margin-right: 5px;
  }

  #customer-display{
    color:red;
  }
  
  /* button */
  .form-actions {
    margin-top: 20px;
  }
  
  .btn-save {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 8px 16px;
  }
  
  .btn-cancel {
    background: #e5e7eb;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
  }
  