
body{
    color:rgb(65, 64, 64);
}

.table{
    border-collapse: collapse;
    width: 600px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
}

th,td {
    border: 1px solid blue;
    padding: 3px;
    text-align: left;
    vertical-align: middle;
}
.gray-area{
    background-color: rgba(214, 211, 211, 0.924);
     font-weight: 700;
     color:red;
    
}