body {
    background: #f8f9fa;
  }
  .form-control, .form-select {
    border: 2px solid #9be1b2;
  }
  .error {
    color: red;
    font-size: 13px;
  }
  table th {
    background: #f1f1f1;
  }