.mega-menu {
    width: 100%;
    left: 0;
    right: 0;
}
.mega-menu h6 {
    font-weight: 600;
    color: #7bb4e2;
}
.tt-menu {
    position: absolute !important;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 99999 !important;
}

.tt-suggestion {
    padding: 8px 12px;
    cursor: pointer;
}

.tt-suggestion:hover {
    background-color: #f1f1f1;
}
